.comment {
    background-color: #fff; 
    margin-top: 12px;
    padding: 15px 15px 10px;
    
    -webkit-box-shadow: -4px 0px 8px -6px rgba(0,0,0,0.59);
    -moz-box-shadow: -4px 0px 8px -6px rgba(0,0,0,0.59);
    box-shadow: -4px 0px 8px -6px rgba(0,0,0,0.59);
}



.comment-meta{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: rgb(50, 50, 218);
}

.comment-meta p{
    margin: 0;
}

.comment-author {
    display: inline;

}

.comment-text {
    font-size: 14px;
}